name: PR Docs Build

on:
  pull_request:

permissions:
  contents: read

jobs:
  build-docs:
    uses: papermoonio/workflows/.github/workflows/core-pr-mkdocs-build.yml@main
    with:
      mkdocs_repo: papermoonio/tanssi-mkdocs
      docs_repo: moondance-labs/tanssi-docs
      docs_checkout: tanssi-docs
